@import 'libs/slick';
@import 'libs/banner';

.green-card-description {
  z-index: 0;
  position: relative;
  padding: 5px 0 12px;
  .title {
    margin-bottom: 17px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      color: #595959;
      text-align: left;
      line-height: 24px;
    }
  }
  .text {
    p {
      font-size: 16px;
      color: #373737;
      line-height: 21px;
      font-weight: normal;
      margin-bottom: 20px;
      strong {
        font-weight: 500;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 15px 0 12px;
    .title {
      width: 80%;
      margin: 0 auto 15px;
      h3 {
        margin-bottom: 10px;
      }
      p {
        text-align: center;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 19px 0 20px;
    .title {
      width: 610px;
      margin-bottom: 22px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 15px;
      }
    }
  }
  @media (min-width: 1280px) {
    padding: 19px 0 15px;
  }
  @media (min-width: 1400px) {
    padding: 24px 0 15px;
    .title {
      margin-bottom: 20px;
      h3 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 15px;
        letter-spacing: -1px;
      }
      p {
        padding: 0 25px;
      }
    }
  }
}

.seven-facts {
  z-index: 0;
  position: relative;
  padding: 5px 0 12px;
  .title {
    margin-bottom: 17px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      color: #595959;
      text-align: left;
      line-height: 24px;
    }
  }

  .text {
    ol {
      margin-bottom: 20px;
      font-size: 16px;
      color: #595959;
      text-align: left;
      line-height: 24px;
      li {
        list-style-type: decimal;
        list-style-position: inside;
      }
    }
  }
  @media (min-width: 768px) {
    padding: 15px 0 12px;
    .title {
      width: 80%;
      margin: 0 auto 15px;
      h3 {
        margin-bottom: 10px;
      }
      p {
        text-align: center;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 19px 0 20px;
    .title {
      width: 725px;
      margin-bottom: 22px;
      h3 {
        font-size: 25px;
        line-height: 29px;
        margin-bottom: 15px;
      }
    }
  }
  @media (min-width: 1280px) {
    padding: 19px 0 15px;
  }
  @media (min-width: 1400px) {
    padding: 24px 0 15px;
    .title {
      margin-bottom: 20px;
      h3 {
        font-size: 25px;
        line-height: 29px;
        margin-bottom: 15px;
        letter-spacing: -1px;
      }
    }
  }
}

.green-card-table {
  .title {
    margin-bottom: 17px;
    h3 {
      font-weight: bold;
      font-size: 18px;
      color: #517ea1;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }
  .table {
    padding: 20px 0 40px;
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
    .download {
      font-size: 16px;
      color: #517ea1;
      font-weight: 500;
      line-height: 21px;
      margin-top: 40px;
      a {
        font-size: 14px;
        color: #517ea1;
        line-height: 23px;
        font-weight: normal;
        text-decoration: underline;
      }
    }
    table {
      display: none;
    }
  }
  @media (min-width: 768px) {
    padding: 15px 0 12px;
    .title {
      width: 80%;
      margin: 0 auto 15px;
      h3 {
        margin-bottom: 10px;
      }
      p {
        text-align: center;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 19px 0 20px;
    .title {
      width: 100%;
      margin-bottom: 22px;
      text-align: center;
      h3 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 15px;
      }
    }
  }
  @media (min-width: 1280px) {
    padding: 19px 0 15px;
    .table {
      p {
        display: none;
      }
      .download {
        margin: 40px auto 0;
        a {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
        }
      }
      .hide {
        display: none;
      }

      a {
        font-size: 15px;
        text-decoration: underline;
        color: #517ea1;
        line-height: 35px;
      }
      table {
        width: 100%;
        margin: 0 auto 10px;
        display: table;
        border-collapse: collapse;
        border: 1px solid #90a1b8;
        text-align: center;
        tr,
        td,
        th {
          border: 1px solid #90a1b8;
          padding: 5px 17px;
          font-size: 15px;
          height: 60px;
        }
        th {
          font-weight: 500;
          color: #517ea1;
          &:first-child {
            text-align: left;
            padding: 5px 22px;
          }
        }
        td:first-child {
          text-align: left;
          padding: 5px 22px;
        }
        span {
          width: 100%;
          height: 24px;
          display: block;
          margin-top: 3px;
        }
      }
    }
  }
  @media (min-width: 1400px) {
    padding: 24px 0 15px;
    .title {
      margin-bottom: 20px;
    }
    .table {
      table,
      .download {
        width: 90%;
      }
    }
  }
}

.online-calculation-green-card {
  z-index: 0;
  position: relative;
  padding: 5px 0 12px;
  .title {
    margin-bottom: 17px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      color: #595959;
      text-align: left;
      line-height: 24px;
    }
  }
  .text {
    p {
      font-size: 16px;
      color: #373737;
      line-height: 21px;
      font-weight: normal;
      margin-bottom: 20px;
      &:last-child {
        display: none;
      }
    }
    a {
      font-size: 14px;
      color: #517ea1;
      line-height: 23px;
      font-weight: normal;
      text-decoration: underline;
      position: relative;
      &::after {
        font-family: 'fontello';
        font-size: 5px;
        position: absolute;
        right: -14px;
        top: -2px;
        content: '\E804';
        transform: rotate(-90deg);
      }
    }
  }
  button {
    display: table;
    margin: 35px auto 0;
    min-width: 255px;
    font-size: 16px;
    color: #ffffff;
    line-height: 19px;
    padding: 14px 12px;
    text-align: center;
    background: #517ea1;
    border: 1px solid #517ea1;
    transition: all 0.3s;
    &:hover {
      color: #517ea1;
      background: #ffffff;
    }
  }

  @media (min-width: 768px) {
    padding: 15px 0 12px;
    .title {
      width: 80%;
      margin: 0 auto 15px;
      h3 {
        margin-bottom: 10px;
      }
      p {
        text-align: center;
      }
    }
    .text {
      p {
        &:last-child {
          display: block;
        }
      }

      a {
        display: none;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 19px 0 20px;
    .title {
      margin-bottom: 22px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 15px;
      }
    }
  }
  @media (min-width: 1280px) {
    padding: 19px 0 15px;
    button {
      margin-top: 50px;
    }
  }
  @media (min-width: 1400px) {
    padding: 24px 0 15px;
    .title {
      margin-bottom: 20px;
      h3 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 15px;
        letter-spacing: -1px;
      }
      p {
        padding: 0 25px;
      }
    }
  }
}

.calculate-green-card {
  z-index: 0;
  position: relative;
  padding: 5px 0 12px;
  .title {
    margin-bottom: 17px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 10px;
    }
  }
  .text {
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .form-wrapper {
    margin: 40px 0 70px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.25);
    padding: 40px 16px 70px;
    .form {
      form {
        .inputs {
          margin-bottom: 26px;
          select {
            position: relative;
            width: 100%;
            height: 40px;
            font-size: 15px;
            padding: 0 15px;
            font-weight: 300;
            color: #373737;
            line-height: 18px;
            background: url('../img/polygon4.png') no-repeat right;
            border-radius: 8px;
            margin-bottom: 25px;
            border: 1px solid #ccd7e2;
            &:last-child {
              margin-bottom: 0;
            }
            &:after {
              font-family: 'fontello';
              font-size: 5px;
              position: absolute;
              top: 11px;
              right: 0;
              content: '\E804';
              transition: all 0.5s;
              color: #535c67;
            }
          }
          select::placeholder {
            color: #90a1b8;
          }
          .error {
            border: 1px solid red;
          }
          button {
            display: table;
            margin: 15px auto 0;
            min-width: 255px;
            font-size: 16px;
            color: #ffffff;
            line-height: 19px;
            padding: 14px 12px;
            text-align: center;
            background: #517ea1;
            border: 1px solid #517ea1;
            transition: all 0.3s;
            &:hover {
              color: #517ea1;
              background: #ffffff;
            }
          }
        }
      }
    }
    .offer {
      width: 80%;
      margin: 40px auto 0;
      border-top: 1px solid #dddede;
      padding-top: 40px;
      .title {
        h3 {
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          color: #517ea1;
        }
      }
      .offer-item {
        .img {
          width: 172px;
          margin: 40px auto;
        }
        .offer-description {
          display: flex;
          flex-direction: column;
          span {
            color: #517ea1;
            font-size: 16px;
            line-height: 19px;
            strong {
              color: #373737;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  form {
    .inputs {
      margin-bottom: 26px;
      input {
        width: 100%;
        height: 40px;
        font-size: 15px;
        padding: 0 15px;
        font-weight: 300;
        color: #373737;
        line-height: 18px;
        background: #fff;
        border-radius: 8px;
        margin-bottom: 25px;
        border: 1px solid #ccd7e2;
        &:last-child {
          margin-bottom: 0;
        }
      }
      input::placeholder {
        color: #90a1b8;
      }
      .error {
        border: 1px solid red;
      }
    }
    textarea {
      width: 100%;
      resize: none;
      height: 143px;
      font-size: 15px;
      padding: 10px 15px;
      font-weight: 300;
      color: #373737;
      line-height: 18px;
      background: #fff;
      border-radius: 8px;
      margin-bottom: 22px;
      border: 1px solid #ccd7e2;
    }
    textarea::placeholder {
      color: #90a1b8;
    }
    .button {
      label {
        display: block;
        font-size: 14px;
        color: #858585;
        line-height: 19px;
        position: relative;
        padding-left: 41px;
        margin-bottom: 21px;
        letter-spacing: 0.2px;
        .jcf-checkbox {
          top: 5px;
          left: 1px;
          width: 20px;
          height: 20px;
          cursor: pointer;
          position: absolute;
          border: 1px solid #afb3bd;
          transition: all 0.5s;
          &::after {
            content: '\E803';
            top: 50%;
            left: 50%;
            opacity: 0;
            font-size: 10px;
            color: #517ea1;
            position: absolute;
            font-family: 'fontello';
            transform: translate(-50%, -50%);
            transition: all 0.5s;
          }
          input {
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: absolute;
          }
        }
        .jcf-checked {
          border: 1px solid #517ea1;
          &::after {
            opacity: 1;
          }
        }
      }
      button {
        display: table;
        margin: 0 auto;
        min-width: 255px;
        font-size: 16px;
        color: #ffffff;
        line-height: 19px;
        padding: 14px 12px;
        text-align: center;
        background: #517ea1;
        border: 1px solid #517ea1;
        transition: all 0.3s;
        &:hover {
          color: #517ea1;
          background: #ffffff;
        }
      }
    }
  }
  @media (min-width: 768px) {
    padding: 15px 0 12px;
    .title {
      width: 80%;
      margin: 0 auto 15px;
      h3 {
        margin-bottom: 10px;
      }
    }
    form {
      width: 80%;
      margin: 0 auto;
      .button {
        button {
          width: 297px;
          padding: 12px 38px;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 19px 0 20px;
    .title {
      width: 725px;
      margin-bottom: 22px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 15px;
      }
    }
    .form-wrapper {
      .form {
        form {
          width: 730px;
          margin: 0 auto;
          .inputs {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            input,
            select {
              width: 30%;
            }
          }
        }
      }
      .offer {
        .offer-item {
          width: 85%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          .img {
            width: 172px;
            margin: 0;
          }
          .offer-description {
            display: flex;
            flex-direction: column;
            margin-left: 66px;
          }
        }
      }
    }
    form {
      width: 610px;
      .inputs {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        input {
          width: 31%;
          margin-right: 22px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .button {
        label {
          width: 65%;
          margin: 0 auto 40px;
        }
      }
    }
  }
  @media (min-width: 1280px) {
    padding: 19px 0 15px;
    .form-wrapper {
      .offer {
        .title {
          h3 {
            font-size: 28px;
            line-height: 33px;
          }
        }
        .offer-item {
          .offer-description {
            span {
              color: #517ea1;
              font-size: 18px;
              line-height: 21px;
            }
          }
        }
      }
    }
    form {
      .inputs {
        margin-bottom: 25px;
        input {
          width: 31.6%;
        }
      }
      .button {
        label {
          padding-left: 40px;
        }
      }
    }
  }
  @media (min-width: 1400px) {
    padding: 24px 0 15px;
    .title {
      margin-bottom: 20px;
      h3 {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 15px;
      }
    }
  }
}

.online-calculating {
  z-index: 0;
  position: relative;
  padding: 5px 0 12px;
  .title {
    margin-bottom: 17px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 10px;
    }
  }
  button {
    display: table;
    margin: 30px auto 25px;
    min-width: 255px;
    font-size: 16px;
    color: #ffffff;
    line-height: 19px;
    padding: 14px 12px;
    text-align: center;
    background: #517ea1;
    border: 1px solid #517ea1;
    transition: all 0.3s;
    &:hover {
      color: #517ea1;
      background: #ffffff;
    }
    &:last-of-type {
      display: none;
      width: 51%;
      margin: 30px auto;
      padding: 24px 65px;
    }
  }
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    span {
      font-size: 20px;
      color: #517ea1;
      font-weight: 400;
      line-height: 24px;
    }
  }

  @media (min-width: 768px) {
    padding: 15px 0 12px;
    .title {
      width: 80%;
      margin: 0 auto 15px;
      h3 {
        margin-bottom: 10px;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 19px 0 20px;
    .title {
      margin-bottom: 22px;
      width: 100%;
      h3 {
        font-size: 15px;
        line-height: 34px;
        margin-bottom: 6px;
      }
      p {
        font-size: 24px;
        line-height: 28px;
      }
    }
    button {
      display: none;
      &:last-of-type {
        display: block;
      }
    }
  }
  @media (min-width: 1280px) {
    padding: 19px 0 20px;
    p {
      font-size: 18px;
      line-height: 21px;
      span {
        font-size: 36px;
        line-height: 42px;
      }
    }
  }
  @media (min-width: 1400px) {
    padding: 24px 0 30px;
    .title {
      margin-bottom: 20px;

      h3 {
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 15px;
      }
    }
  }
}

.insurance-companies {
  z-index: 0;
  position: relative;
  padding: 30px 0 15px;
  .title {
    margin-bottom: 15px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      color: #373737;
      line-height: 23px;
    }
  }
  .companies-slider {
    padding-bottom: 11px;
    .slick-list {
      top: 0;
      left: 50%;
      width: 700px;
      position: relative;
      padding: 10px 0 20px;
      transform: translate(-50%, 0);
    }
    .slick-slide {
      margin: 0 10px;
    }
    .companies-item {
      display: flex;
      padding: 10px 0;
      position: relative;
      align-items: center;
      background: #ffffff;
      justify-content: center;
      transition: all 0.5s;
      &:hover {
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
        .hover {
          opacity: 1;
        }
      }
      a {
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
      }
      img {
        width: 65%;
        display: block;
      }
      .hover {
        top: 50%;
        left: 50%;
        opacity: 0;
        position: absolute;
        transition: all 0.5s;
        transform: translate(-50%, -50%);
      }
    }
    .slick-dots {
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      position: absolute;
      justify-content: center;
      li {
        margin: 0 4px;
        display: flex;
        button {
          width: 8px;
          height: 8px;
          border: none;
          cursor: pointer;
          border-radius: 50%;
          text-indent: -9999px;
          background: #97b6d3;
          transition: all 0.3s;
          &:hover {
            background: #517ea1;
          }
        }
      }
      li.slick-active {
        button {
          background: #517ea1;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .title {
      h3 {
        margin-bottom: 10px;
      }
    }
    .insurance-companies-content {
      position: relative;
      &::after {
        content: '';
        top: 43%;
        left: -70px;
        z-index: 2;
        width: 150px;
        height: 110px;
        position: absolute;
        background: linear-gradient(
          90deg,
          #ffffff 50%,
          rgba(255, 255, 255, 0.539626) 59.66%,
          rgba(255, 255, 255, 0) 78.51%
        );
        transform: translate(0, -50%);
      }
      &::before {
        content: '';
        top: 43%;
        z-index: 2;
        right: -70px;
        width: 150px;
        height: 110px;
        position: absolute;
        background: linear-gradient(
          90deg,
          #fff 50%,
          rgba(255, 255, 255, 0.539626) 59.66%,
          rgba(255, 255, 255, 0) 78.51%
        );
        transform: translate(0, -50%) rotate(-180deg);
      }
    }
    .companies-slider {
      overflow: hidden;
      .slick-list {
        left: 50%;
        width: 900px;
      }
      .companies-item {
        img {
          width: 82%;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 40px 0 20px;
    .title {
      margin-bottom: 22px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 6px;
      }
      p {
        font-size: 24px;
        line-height: 28px;
      }
    }
    .insurance-companies-content {
      &::after {
        left: -20px;
        background: linear-gradient(
          90deg,
          #fff 25%,
          rgba(255, 255, 255, 0.539626) 59.66%,
          rgba(255, 255, 255, 0) 78.51%
        );
      }
      &::before {
        right: -20px;
        background: linear-gradient(
          90deg,
          #fff 25%,
          rgba(255, 255, 255, 0.539626) 59.66%,
          rgba(255, 255, 255, 0) 78.51%
        );
      }
    }
    .companies-slider {
      padding-bottom: 0;
      .slick-list {
        width: 105%;
      }
      .slick-arrow {
        top: 45%;
        z-index: 4;
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        background: transparent;
        border: 1px solid #517ea1;
        transform: translate(0, -50%);
        transition: all 0.9s ease-in-out;
        &:hover {
          background: #517ea1;
          i {
            color: #517ea1;
          }
        }
        i {
          top: 50%;
          left: 50%;
          font-size: 10px;
          color: #000;
          position: absolute;
          transform: translate(-50%, -50%);
          transition: all 0.3s;
        }
      }
      .next {
        right: 10px;
      }
      .prev {
        left: 10px;
      }
    }
  }
  @media (min-width: 1280px) {
  }
  @media (min-width: 1400px) {
    padding: 50px 0 25px;
    .title {
      margin-bottom: 24px;
      h3 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 8px;
      }
      p {
        font-size: 30px;
        line-height: 34px;
      }
    }
    .insurance-companies-content {
      &::after {
        left: -10px;
      }
      &::before {
        right: -10px;
      }
    }
    .companies-slider {
      .slick-arrow {
        width: 34px;
        height: 34px;
        i {
          font-size: 12px;
        }
      }
      .next {
        right: 0;
      }
      .prev {
        left: 0;
      }
      .slick-slide {
        margin: 0 5px;
      }
    }
  }
}

.best-deals {
  z-index: 2;
  position: relative;
  padding: 2px 0 10px;
  .title {
    margin-bottom: 17px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      color: #373737;
      line-height: 23px;
    }
  }
  .best-deals-slider {
    padding-bottom: 20px;
    .slick-list {
      margin: 0 -10px;
      padding-bottom: 18px;
    }
    .slick-slide {
      margin: 0 10px;
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
      }
    }
    .best-deals-item {
      border: 1px solid #e4e4e9;
      transition: all 0.5s;
      .text {
        padding: 8px 10px;
        .name {
          text-align: center;
          h5 {
            font-size: 16px;
            color: #373737;
            font-weight: 700;
            line-height: 19px;
          }
          span {
            font-size: 16px;
            font-weight: 500;
            color: #517ea1;
            line-height: 19px;
            display: inline-block;
          }
        }
        .description {
          display: none;
          margin-top: 20px;
          padding-top: 20px;
          position: relative;
          border-top: 1px solid #d0d2d3;
          &::after {
            content: '';
            left: 0;
            top: -1px;
            width: 92px;
            height: 1px;
            position: absolute;
            background: #517ea1;
          }
          p {
            font-size: 16px;
            color: #373737;
            line-height: 22px;
            margin-bottom: 18px;
          }
          a {
            font-size: 16px;
            color: #ffffff;
            line-height: 19px;
            text-align: center;
            padding: 11px 27px;
            background: #517ea1;
            display: inline-block;
            border: 1px solid #517ea1;
            transition: all 0.3s;
            &:hover {
              color: #517ea1;
              background: #ffffff;
            }
          }
        }
      }
    }
    .slick-dots {
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      position: absolute;
      justify-content: center;
      li {
        margin: 0 4px;
        display: flex;
        button {
          width: 7px;
          height: 7px;
          border: none;
          cursor: pointer;
          border-radius: 50%;
          text-indent: -9999px;
          background: #97b6d3;
          transition: all 0.3s;
          &:hover {
            background: #517ea1;
          }
        }
      }
      li.slick-active {
        button {
          background: #517ea1;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .title {
      h3 {
        margin-bottom: 10px;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 12px 0 15px;
    .title {
      margin-bottom: 22px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 6px;
      }
      p {
        font-size: 24px;
        line-height: 28px;
      }
    }
    .best-deals-slider {
      padding-bottom: 0;
      .best-deals-item {
        .text {
          padding: 20px 12px 20px;
        }
      }
      .slick-arrow {
        top: 85px;
        z-index: 4;
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        background: transparent;
        border: 1px solid #b4b5b4;
        transition: all 0.3s;
        &:hover {
          background: transparent;
          border: 1px solid #517ea1;

          i {
            color: #517ea1;
          }
        }
        i {
          top: 50%;
          left: 50%;
          font-size: 10px;
          color: #b4b5b4;
          position: absolute;
          transform: translate(-50%, -50%);
          transition: all 0.3s;
        }
      }
      .next {
        right: 5px;
      }
      .prev {
        left: 5px;
      }
    }
  }
  @media (min-width: 1280px) {
  }
  @media (min-width: 1400px) {
    padding: 14px 0 15px;
    .title {
      margin-bottom: 31px;
      h3 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 8px;
      }
      p {
        font-size: 30px;
        line-height: 34px;
      }
    }
    .best-deals-slider {
      .best-deals-item {
        .text {
          padding: 20px 17px 20px;
        }
      }
      .slick-arrow {
        top: 150px;
        width: 40px;
        height: 40px;
        i {
          font-size: 12px;
        }
      }
    }
  }
}

.reasons-to-order {
  z-index: 0;
  position: relative;
  padding: 7px 0 12px;
  .title {
    margin-bottom: 17px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 10px;
    }
  }
  ul {
    li {
      font-size: 16px;
      line-height: 22px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  @media (min-width: 768px) {
    .title {
      h3 {
        margin-bottom: 10px;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 12px 0 15px;
    .title {
      margin-bottom: 22px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 6px;
      }
    }
    ul {
      li {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
  @media (min-width: 1400px) {
    padding: 16px 0 20px;
    .title {
      margin-bottom: 27px;
      h3 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 8px;
      }
    }
  }
}

.apply-policy-online {
  z-index: 0;
  position: relative;
  padding: 20px 0 5px;
  .title {
    margin-bottom: 17px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 15px;
    }
    p {
      font-size: 18px;
      color: #373737;
      line-height: 23px;
    }
  }
  .apply-policy-online-item {
    text-align: center;
    margin-bottom: 32px;
    .icon {
      margin-bottom: 14px;
      display: inline-block;
      img {
        width: auto;
        max-width: 59px;
      }
    }
    p {
      padding: 0 3px;
      font-size: 16px;
      color: #373737;
      line-height: 19px;
    }
  }
  .button {
    display: flex;
    justify-content: center;
    button {
      min-width: 255px;
      font-size: 16px;
      color: #ffffff;
      line-height: 19px;
      padding: 14px 12px;
      text-align: center;
      background: #517ea1;
      border: 1px solid #517ea1;
      transition: all 0.3s;
      &:hover {
        color: #517ea1;
        background: #ffffff;
      }
    }
  }
  @media (min-width: 768px) {
    .title {
      h3 {
        margin-bottom: 10px;
      }
    }
    .apply-policy-online-items {
      margin: 0 -1%;
      display: flex;
      flex-wrap: wrap;
    }
    .apply-policy-online-item {
      width: 48%;
      margin: 0 1% 25px;
      p {
        padding: 0;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 30px 0 15px;
    .title {
      margin-bottom: 22px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 6px;
        margin-bottom: 18px;
      }
      p {
        font-size: 20px;
        line-height: 26px;
        width: 60%;
        margin: 20px auto 0;
      }
    }
    .apply-policy-online-items {
      margin: 0 -2%;
    }
    .apply-policy-online-item {
      width: 46%;
      margin: 0 2% 25px;
    }
  }
  @media (min-width: 1280px) {
    .apply-policy-online-item {
      width: 21%;
    }
    .button {
      margin-top: 50px;
    }
  }
  @media (min-width: 1400px) {
    padding: 50px 0 15px;
    .title {
      margin-bottom: 35px;
      h3 {
        font-size: 38px;
        line-height: 42px;
      }
    }
    .apply-policy-online-items {
      margin: 0 -1%;
    }
    .apply-policy-online-item {
      width: 17%;
      margin: 0 4% 25px;
      p {
        font-size: 18px;
        line-height: 22px;
      }
    }
    .button {
      margin-top: 50px;
    }
  }
}

.apply-policy-with-delivery {
  z-index: 0;
  position: relative;
  padding: 20px 0 5px;
  .title {
    margin-bottom: 17px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      color: #373737;
      line-height: 23px;
      font-weight: 500;
    }
  }
  .apply-policy-with-delivery-item {
    text-align: center;
    margin-bottom: 32px;
    .icon {
      margin-bottom: 14px;
      display: inline-block;
      img {
        width: auto;
        max-width: 59px;
      }
    }
    p {
      padding: 0 3px;
      font-size: 16px;
      color: #373737;
      line-height: 19px;
    }
  }

  .apply-policy-with-delivery-text {
    p {
      font-size: 16px;
      color: #373737;
      line-height: 21px;
      font-weight: normal;
      margin-bottom: 20px;
    }
    ul,
    ol {
      margin-bottom: 20px;
      font-size: 16px;
      color: #595959;
      text-align: left;
      line-height: 24px;
    }
    ol {
      li {
        list-style-type: decimal;
        list-style-position: inside;
      }
    }
  }

  .subtitle {
    padding: 20px 0 10px;
    text-align: center;
    h5 {
      font-size: 20px;
      color: #517ea1;
      font-weight: 500;
      line-height: 25px;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      color: #373737;
      line-height: 21px;
      font-weight: normal;
      margin-bottom: 20px;
      a {
        color: #517ea1;
        text-decoration: underline;
      }
    }
  }

  form {
    .inputs {
      margin-bottom: 26px;
      input {
        width: 100%;
        height: 40px;
        font-size: 15px;
        padding: 0 15px;
        font-weight: 300;
        color: #373737;
        line-height: 18px;
        background: #fff;
        border-radius: 8px;
        margin-bottom: 25px;
        border: 1px solid #ccd7e2;
        &:last-child {
          margin-bottom: 0;
        }
      }
      input::placeholder {
        color: #90a1b8;
      }
      .error {
        border: 1px solid red;
      }
    }
    textarea {
      width: 100%;
      resize: none;
      height: 143px;
      font-size: 15px;
      padding: 10px 15px;
      font-weight: 300;
      color: #373737;
      line-height: 18px;
      background: #fff;
      border-radius: 8px;
      margin-bottom: 22px;
      border: 1px solid #ccd7e2;
    }
    textarea::placeholder {
      color: #90a1b8;
    }
    .button {
      label {
        display: block;
        font-size: 14px;
        color: #858585;
        line-height: 19px;
        position: relative;
        padding-left: 41px;
        margin-bottom: 21px;
        letter-spacing: 0.2px;
        .jcf-checkbox {
          top: 5px;
          left: 1px;
          width: 20px;
          height: 20px;
          cursor: pointer;
          position: absolute;
          border: 1px solid #afb3bd;
          transition: all 0.5s;
          &::after {
            content: '\E803';
            top: 50%;
            left: 50%;
            opacity: 0;
            font-size: 10px;
            color: #517ea1;
            position: absolute;
            font-family: 'fontello';
            transform: translate(-50%, -50%);
            transition: all 0.5s;
          }
          input {
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: absolute;
          }
        }
        .jcf-checked {
          border: 1px solid #517ea1;
          &::after {
            opacity: 1;
          }
        }
      }
      button {
        display: table;
        margin: 0 auto;
        min-width: 255px;
        font-size: 16px;
        color: #ffffff;
        line-height: 19px;
        padding: 14px 12px;
        text-align: center;
        background: #517ea1;
        border: 1px solid #517ea1;
        transition: all 0.3s;
        &:hover {
          color: #517ea1;
          background: #ffffff;
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .title {
      h3 {
        margin-bottom: 10px;
      }
    }
    .apply-policy-with-delivery-items {
      margin: 0 -1%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .apply-policy-with-delivery-item {
      width: 48%;
      margin: 0 1% 25px;
      p {
        padding: 0;
      }
    }
    form {
      width: 80%;
      margin: 0 auto;
      .button {
        button {
          width: 297px;
          padding: 12px 38px;
          display: none;
          &:last-child {
            display: table;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 30px 0 15px;
    .title {
      margin-bottom: 22px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 6px;
      }
      p {
        font-size: 18px;
        line-height: 20px;
        width: 70%;
        margin: 20px auto 0;
      }
    }
    .apply-policy-with-delivery-items {
      margin: 0 -2%;
    }
    .apply-policy-with-delivery-item {
      width: 46%;
      margin: 0 2% 25px;
    }
    form {
      width: 610px;
      .inputs {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        input {
          width: 31%;
          margin-right: 22px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .button {
        label {
          width: 65%;
          margin: 0 auto 40px;
        }
      }
    }
  }
  @media (min-width: 1280px) {
    .title {
      width: 80%;
      margin: 0 auto 35px;
    }
    .apply-policy-with-delivery-item {
      width: 17%;
    }
    form {
      .inputs {
        margin-bottom: 25px;
        input {
          width: 31.6%;
        }
      }
      .button {
        label {
          padding-left: 40px;
        }
      }
    }
  }
  @media (min-width: 1400px) {
    padding: 40px 0 15px;
    .title {
      h3 {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 8px;
      }
      p {
        font-size: 20px;
        line-height: 25px;
      }
    }
    .apply-policy-with-delivery-items {
      margin: 0 -1%;
    }
    .apply-policy-with-delivery-item {
      width: 15%;
      margin: 0 0% 25px;
      p {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.question {
  z-index: 0;
  position: relative;
  padding: 9px 0 35px;
  .title {
    margin-bottom: 12px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 17px;
    }
    p {
      font-size: 18px;
      color: #595959;
      text-align: left;
      line-height: 24px;
    }
  }
  form {
    .inputs {
      margin-bottom: 26px;
      input {
        width: 100%;
        height: 40px;
        font-size: 15px;
        padding: 0 15px;
        font-weight: 300;
        color: #373737;
        line-height: 18px;
        background: #fff;
        border-radius: 8px;
        margin-bottom: 25px;
        border: 1px solid #ccd7e2;
        &:last-child {
          margin-bottom: 0;
        }
      }
      input::placeholder {
        color: #90a1b8;
      }
      .error {
        border: 1px solid red;
      }
    }
    textarea {
      width: 100%;
      resize: none;
      height: 143px;
      font-size: 15px;
      padding: 10px 15px;
      font-weight: 300;
      color: #373737;
      line-height: 18px;
      background: #fff;
      border-radius: 8px;
      margin-bottom: 22px;
      border: 1px solid #ccd7e2;
    }
    textarea::placeholder {
      color: #90a1b8;
    }
    .button {
      label {
        display: block;
        font-size: 14px;
        color: #858585;
        line-height: 19px;
        position: relative;
        padding-left: 41px;
        margin-bottom: 21px;
        letter-spacing: 0.2px;
        .jcf-checkbox {
          top: 5px;
          left: 1px;
          width: 20px;
          height: 20px;
          cursor: pointer;
          position: absolute;
          border: 1px solid #afb3bd;
          transition: all 0.5s;
          &::after {
            content: '\E803';
            top: 50%;
            left: 50%;
            opacity: 0;
            font-size: 10px;
            color: #517ea1;
            position: absolute;
            font-family: 'fontello';
            transform: translate(-50%, -50%);
            transition: all 0.5s;
          }
          input {
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: absolute;
          }
        }
        .jcf-checked {
          border: 1px solid #517ea1;
          &::after {
            opacity: 1;
          }
        }
      }
      button {
        display: table;
        margin: 0 auto;
        min-width: 255px;
        font-size: 16px;
        color: #ffffff;
        line-height: 19px;
        padding: 14px 12px;
        text-align: center;
        background: #517ea1;
        border: 1px solid #517ea1;
        transition: all 0.3s;
        &:hover {
          color: #517ea1;
          background: #ffffff;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .title {
      width: 80%;
      margin: 0 auto 15px;
      h3 {
        margin-bottom: 10px;
      }
      p {
        text-align: center;
      }
    }
    form {
      width: 80%;
      margin: 0 auto;
      .button {
        button {
          min-width: 215px;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 12px 0 35px;
    .title {
      width: 610px;
      margin-bottom: 22px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 15px;
      }
    }
    form {
      width: 610px;
      .inputs {
        display: flex;
        justify-content: space-between;
        input {
          width: 31%;
          margin: 0;
        }
      }
      .button {
        label {
          margin-bottom: 40px;
        }
      }
    }
  }
  @media (min-width: 1280px) {
    padding: 24px 0 40px;
    form {
      .inputs {
        margin-bottom: 25px;
        input {
          width: 31.6%;
        }
      }
      textarea {
        height: 113px;
      }
      .button {
        label {
          padding-left: 40px;
          padding-right: 100px;
        }
      }
    }
  }
  @media (min-width: 1400px) {
    padding: 24px 0 59px;
    .title {
      margin-bottom: 26px;
      h3 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 20px;
      }
      p {
        padding: 0 25px;
      }
    }
  }
}
