@import 'libs/slick.scss', 'libs/hot-offer.scss', 'libs/banner.scss', 'libs/best-deals.scss';

.insurance-cost {
  z-index: 2;
  position: relative;
  padding: 30px 0 10px;
  .title {
    margin-bottom: 20px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 16px;
    }
    p {
      font-size: 20px;
      color: #373737;
      line-height: 23px;
    }
  }
  .insurance-content {
    height: 100%;
    .insurance-items {
      // overflow: hidden;
      // display: none;
      margin: 0 -10px;
      margin-bottom: 24px;
      .insurance-hide {
        margin: 0 10px;
      }
      .insurance-item {
        margin-bottom: 14px;
        &:hover {
          .text {
            box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.25);
            ul {
              // transform: rotateY(0);
            }
          }
        }
        .img {
          width: 100%;
          height: 180px;
          cursor: pointer;
          // border: 1px solid #e4e4e4;
          img {
            width: 100%;
            // min-height: 180px;
            // height: auto;
            display: block;
          }
        }
        .text {
          padding: 11px 20px;
          position: relative;
          transition: all 0.7s ease-in-out;
          h5 {
            font-size: 18px;
            font-weight: 500;
            color: #517ea1;
            line-height: 21px;
            text-align: center;
          }
          ul {
            display: block;
            left: 0;
            top: 42px;
            z-index: 2;
            width: 100%;
            background: #fff;
            position: absolute;
            padding: 8px 22px 25px;
            box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.25);
            transform: rotateY(-90deg);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            transition: all 0.7s ease-in-out;

            li {
              margin-bottom: 14px;
              &:last-child {
                margin-bottom: 0;
              }
              a {
                font-size: 14px;
                color: #373737;
                line-height: 16px;
                display: inline-block;
                transition: all 0.5s;
                &:hover {
                  color: #517ea1;
                }
              }
            }
          }
        }
        .text-hover-show {
          ul {
            transform: rotateY(0);
          }
        }
      }
    }
    .show-more {
      color: #fff;
      display: table;
      margin: 0 auto;
      font-size: 16px;
      min-width: 255px;
      line-height: 19px;
      padding: 14px 12px;
      text-align: center;
      background: #517ea1;
      border: 1px solid #517ea1;
      transition: all 0.5s;
      // &:hover {
      //   color: #517ea1;
      //   background: #fff;
      // }
    }
  }
  @media (min-width: 768px) {
    .title {
      h3 {
        margin-bottom: 10px;
      }
    }
    .insurance-content {
      .insurance-items {
        margin: 0;
        overflow: initial;
        .insurance-hide {
          margin: 0 -1%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        .insurance-item {
          width: 48%;
          margin: 0 1% 20px;
        }
      }
      .show-more {
        display: none;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 30px 0 15px;
    .title {
      margin-bottom: 25px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 6px;
      }
      p {
        font-size: 24px;
        line-height: 28px;
      }
    }
    .insurance-content {
      .insurance-items {
        .insurance-item {
          width: 31.33%;
          margin: 0 1% 20px;
          &:hover {
            .text {
              box-shadow: 2px 10px 8px rgba(0, 0, 0, 0.25);
              ul {
                transform: rotateY(0);
              }
            }
          }
          .text {
            ul {
              display: block;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1280px) {
    .insurance-content {
      .insurance-items {
        .insurance-item {
          width: 23%;
        }
      }
    }
  }
  @media (min-width: 1400px) {
    padding: 45px 0 15px;
    .title {
      margin-bottom: 32px;
      h3 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 8px;
      }
      p {
        font-size: 30px;
        line-height: 34px;
      }
    }
    .insurance-content {
      .insurance-items {
        .insurance-item {
          margin: 0 1% 18px;
          .text {
            h5 {
              font-size: 20px;
              line-height: 23px;
            }
            ul {
              top: 45px;
            }
          }
        }
      }
    }
  }
}

.insurance-companies {
  z-index: 0;
  position: relative;
  padding: 10px 0 10px;
  .title {
    margin-bottom: 10px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 16px;
    }
    p {
      font-size: 20px;
      color: #373737;
      line-height: 23px;
    }
  }
  .companies-slider {
    padding-bottom: 11px;
    .slick-list {
      top: 0;
      left: 50%;
      width: 700px;
      position: relative;
      padding: 10px 0 20px;
      transform: translate(-50%, 0);
    }
    .slick-slide {
      margin: 0 10px;
    }
    .companies-item {
      display: flex;
      padding: 10px 0;
      position: relative;
      align-items: center;
      background: #ffffff;
      justify-content: center;
      transition: all 0.5s;
      &:hover {
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
        .hover {
          opacity: 1;
        }
      }
      a {
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
      }
      img {
        width: 65%;
        display: block;
      }
      .hover {
        top: 50%;
        left: 50%;
        opacity: 0;
        position: absolute;
        transition: all 0.5s;
        transform: translate(-50%, -50%);
      }
    }
    .slick-dots {
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      position: absolute;
      justify-content: center;
      li {
        margin: 0 4px;
        display: flex;
        button {
          width: 8px;
          height: 8px;
          border: none;
          cursor: pointer;
          border-radius: 50%;
          text-indent: -9999px;
          background: #97b6d3;
          transition: all 0.3s;
          &:hover {
            background: #517ea1;
          }
        }
      }
      li.slick-active {
        button {
          background: #517ea1;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .title {
      h3 {
        margin-bottom: 10px;
      }
    }
    .insurance-companies-content {
      position: relative;
      &::after {
        content: '';
        top: 43%;
        left: -70px;
        z-index: 2;
        width: 150px;
        height: 110px;
        position: absolute;
        background: linear-gradient(90deg, #ffffff 50%, rgba(255, 255, 255, 0.539626) 59.66%, rgba(255, 255, 255, 0) 78.51%);
        transform: translate(0, -50%);
      }
      &::before {
        content: '';
        top: 43%;
        z-index: 2;
        right: -70px;
        width: 150px;
        height: 110px;
        position: absolute;
        background: linear-gradient(90deg, #fff 50%, rgba(255, 255, 255, 0.539626) 59.66%, rgba(255, 255, 255, 0) 78.51%);
        transform: translate(0, -50%) rotate(-180deg);
      }
    }
    .companies-slider {
      overflow: hidden;
      .slick-list {
        left: 50%;
        width: 900px;
      }
      .companies-item {
        img {
          width: 82%;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 12px 0 15px;
    .title {
      margin-bottom: 25px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 6px;
      }
      p {
        font-size: 24px;
        line-height: 28px;
      }
    }
    .insurance-companies-content {
      &::after {
        left: -20px;
        background: linear-gradient(90deg, #fff 25%, rgba(255, 255, 255, 0.539626) 59.66%, rgba(255, 255, 255, 0) 78.51%);
      }
      &::before {
        right: -20px;
        background: linear-gradient(90deg, #fff 25%, rgba(255, 255, 255, 0.539626) 59.66%, rgba(255, 255, 255, 0) 78.51%);
      }
    }
    .companies-slider {
      padding-bottom: 0;
      .slick-list {
        width: 105%;
      }
      .slick-arrow {
        top: 45%;
        z-index: 4;
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        background: transparent;
        border: 1px solid #517ea1;
        transform: translate(0, -50%);
        transition: all 0.3s;
        &:hover {
          background: #517ea1;
          i {
            color: #517ea1;
          }
        }
        i {
          top: 50%;
          left: 50%;
          font-size: 10px;
          color: #000;
          position: absolute;
          transform: translate(-50%, -50%);
          transition: all 0.3s;
        }
      }
      .next {
        right: 10px;
      }
      .prev {
        left: 10px;
      }
    }
  }
  @media (min-width: 1280px) {
  }
  @media (min-width: 1400px) {
    padding: 14px 0 15px;
    .title {
      margin-bottom: 24px;
      h3 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 8px;
      }
      p {
        font-size: 30px;
        line-height: 34px;
      }
    }
    .insurance-companies-content {
      &::after {
        left: -10px;
      }
      &::before {
        right: -10px;
      }
    }
    .companies-slider {
      .slick-arrow {
        width: 34px;
        height: 34px;
        i {
          font-size: 12px;
        }
      }
      .next {
        right: 0;
      }
      .prev {
        left: 0;
      }
      .slick-slide {
        margin: 0 5px;
      }
    }
  }
}

.why-leader {
  z-index: 0;
  position: relative;
  padding: 10px 0 3px;
  .title {
    margin-bottom: 20px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 16px;
    }
    p {
      font-size: 20px;
      color: #373737;
      line-height: 23px;
    }
  }
  .why-leader-item {
    text-align: center;
    margin-bottom: 32px;
    .icon {
      margin-bottom: 14px;
      display: inline-block;
      img {
        width: auto;
        max-width: 59px;
      }
    }
    p {
      padding: 0 3px;
      font-size: 16px;
      color: #373737;
      line-height: 19px;
    }
  }
  @media (min-width: 768px) {
    .title {
      h3 {
        margin-bottom: 10px;
      }
    }
    .why-leader-items {
      margin: 0 -1%;
      display: flex;
      flex-wrap: wrap;
    }
    .why-leader-item {
      width: 48%;
      margin: 0 1% 25px;
      p {
        padding: 0;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 6px 0 8px;
    .title {
      margin-bottom: 13px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 6px;
      }
      p {
        font-size: 24px;
        line-height: 28px;
      }
    }
    .why-leader-items {
      margin: 0 -2%;
    }
    .why-leader-item {
      width: 46%;
      margin: 0 2% 25px;
    }
  }
  @media (min-width: 1280px) {
    .why-leader-item {
      width: 21%;
    }
  }
  @media (min-width: 1400px) {
    padding: 14px 0 15px;
    .title {
      margin-bottom: 35px;
      h3 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 8px;
      }
      p {
        font-size: 30px;
        line-height: 34px;
      }
    }
    .why-leader-items {
      margin: 0 -1%;
    }
    .why-leader-item {
      width: 17%;
      margin: 0 4% 25px;
      p {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.faq {
  z-index: 0;
  position: relative;
  padding: 7px 0 12px;
  .title {
    margin-bottom: 18px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 17px;
    }
    p {
      font-size: 20px;
      color: #373737;
      line-height: 23px;
    }
  }
  .accordionjs {
    margin-bottom: 20px;
    .acc_section {
      cursor: pointer;
      margin-bottom: 18px;
      background: #ffffff;
      box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
      &:last-child {
        margin-bottom: 0;
      }
      .acc_head {
        font-size: 18px;
        color: #373737;
        font-weight: 500;
        line-height: 21px;
        position: relative;
        padding: 20px 50px 20px 16px;
        &::after {
          content: '\E802';
          top: 22px;
          right: 18px;
          font-size: 24px;
          color: #5f96c1;
          position: absolute;
          font-family: 'fontello';
          transition: all 0.5s;
        }
      }
      .acc_content {
        padding: 0 60px 16px 16px;
        p {
          font-size: 16px;
          color: #373737;
          line-height: 19px;
        }
      }
    }
    .acc_active {
      .acc_head {
        &::after {
          transform: rotate(90deg);
        }
      }
    }
  }
  .form {
    background: #ffffff;
    padding: 20px 14px 35px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
    h4 {
      font-size: 24px;
      color: #517ea1;
      line-height: 28px;
      text-align: center;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      color: #373737;
      line-height: 21px;
      padding-right: 5px;
      margin-bottom: 26px;
    }
    form {
      .inputs {
        margin-bottom: 10px;
        input {
          width: 100%;
          height: 38px;
          border: none;
          padding: 0 2px;
          font-size: 15px;
          color: #373737;
          line-height: 18px;
          margin-bottom: 26px;
          letter-spacing: 0.5px;
          border-bottom: 2px solid #434343;
        }
        input::placeholder {
          color: #858585;
        }
        .error {
          border-bottom: 2px solid red;
        }
        button {
          display: none;
          min-width: 255px;
          font-size: 16px;
          color: #ffffff;
          line-height: 19px;
          padding: 14px 12px;
          text-align: center;
          background: #517ea1;
          border: 1px solid #517ea1;
          transition: all 0.3s;
          // &:hover {
          //   color: #517ea1;
          //   background: #ffffff;
          // }
        }
      }
      .button {
        label {
          display: block;
          font-size: 14px;
          color: #858585;
          line-height: 18px;
          position: relative;
          padding-left: 41px;
          margin-bottom: 34px;
          letter-spacing: 0.2px;
          .jcf-checkbox {
            top: 5px;
            left: 1px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            border: 1px solid #afb3bd;
            transition: all 0.5s;
            &::after {
              content: '\E803';
              top: 50%;
              left: 50%;
              opacity: 0;
              font-size: 10px;
              color: #517ea1;
              position: absolute;
              font-family: 'fontello';
              transform: translate(-50%, -50%);
              transition: all 0.5s;
            }
            input {
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              cursor: pointer;
              position: absolute;
              z-index: 2;
            }
          }
          .jcf-checked {
            border: 1px solid #517ea1;
            &::after {
              opacity: 1;
            }
          }
        }
        button {
          display: table;
          margin: 0 auto;
          min-width: 255px;
          font-size: 16px;
          color: #ffffff;
          line-height: 19px;
          padding: 14px 12px;
          text-align: center;
          background: #517ea1;
          border: 1px solid #517ea1;
          transition: all 0.3s;
          // &:hover {
          //   color: #517ea1;
          //   background: #ffffff;
          // }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .title {
      h3 {
        margin-bottom: 10px;
      }
    }
    .form {
      padding: 40px 80px 45px;
      p {
        padding: 0;
        text-align: center;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 12px 0 15px;
    .title {
      margin-bottom: 22px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 6px;
      }
      p {
        font-size: 24px;
        line-height: 28px;
      }
    }
    .faq-content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .accordionjs {
      width: 49.2%;
      margin: 0;
      .acc_section {
        .acc_head {
          padding: 20px 60px 20px 30px;
        }
        .acc_content {
          padding: 5px 30px 20px 30px;
          p {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
    .form {
      width: 49.2%;
      h4 {
        color: #373737;
        margin-bottom: 10px;
      }
    }
  }
  @media (min-width: 1280px) {
    .form {
      padding: 40px 80px 25px;
      form {
        .inputs {
          flex-wrap: wrap;
          display: flex;
          margin: 0 1% 10px;
          position: relative;
          input {
            width: 48%;
            margin: 0 1% 20px;
          }
          button {
            right: 0;
            bottom: 0;
            z-index: 2;
            min-width: 48%;
            display: block;
            position: absolute;
          }
        }
        .button {
          label {
            margin-bottom: 0;
          }
          button {
            display: none;
          }
        }
      }
    }
  }
  @media (min-width: 1400px) {
    padding: 20px 0 25px;
    .title {
      margin-bottom: 28px;
      h3 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 8px;
      }
      p {
        font-size: 30px;
        line-height: 34px;
      }
    }
    .accordionjs {
      .acc_section {
        margin-bottom: 12px;
        .acc_head {
          padding: 26px 60px 26px 40px;
          &::after {
            top: 26px;
            right: 16px;
            font-size: 30px;
          }
        }
        .acc_content {
          padding: 6px 39px 29px;
        }
      }
    }
    .form {
      padding: 60px 98px 44px;
      h4 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 7px;
      }
      p {
        margin-bottom: 13px;
      }
      form {
        .inputs {
          margin: 0 -1% 9px;
          input {
            width: 46%;
            margin: 0 2% 23px;
          }
          button {
            right: 11px;
            bottom: 11px;
            min-width: 45%;
          }
        }
        .button {
          padding-left: 5px;
          label {
            padding-left: 41px;
            padding-right: 50px;
          }
        }
      }
    }
  }
}

.news {
  z-index: 0;
  position: relative;
  padding: 8px 0 35px;
  .title {
    margin-bottom: 14px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 17px;
    }
    p {
      font-size: 20px;
      color: #373737;
      line-height: 23px;
    }
  }
  .news-slider {
    padding-bottom: 35px;
    .slick-list {
      margin: 0 -10px;
      padding-bottom: 18px;
    }
    .slick-slide {
      margin: 0 10px;
      padding-bottom: 5px;
    }
    .news-item {
      position: relative;
      transition: all 0.7s;
      &:hover,
      &:focus {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
        .img {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
        }
      }
      a {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
      }
      .img {
        margin-bottom: 13px;
        transition: all 0.7s;
      }
      .text {
        position: relative;
        padding: 17px 5px 5px;
        &::after {
          content: '';
          top: 0;
          left: 0;
          width: 77px;
          height: 3px;
          position: absolute;
          background: #517ea1;
        }
        p {
          font-size: 16px;
          color: #373737;
          line-height: 19px;
        }
      }
    }
    .slick-dots {
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      position: absolute;
      justify-content: center;
      li {
        margin: 0 4px;
        display: flex;
        button {
          width: 7px;
          height: 7px;
          border: none;
          cursor: pointer;
          border-radius: 50%;
          text-indent: -9999px;
          background: #97b6d3;
          transition: all 0.3s;
          &:hover {
            background: #517ea1;
          }
        }
      }
      li.slick-active {
        button {
          background: #517ea1;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .title {
      h3 {
        margin-bottom: 10px;
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 12px 0 45px;
    .title {
      margin-bottom: 22px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 6px;
      }
      p {
        font-size: 24px;
        line-height: 28px;
      }
    }
    .news-slider {
      padding-bottom: 0;
      .slick-arrow {
        top: 22%;
        z-index: 4;
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        background: transparent;
        border: 1px solid #b4b5b4;
        transition: all 0.3s;
        &:hover {
          background: transparent;
          border: 1px solid #517ea1;
          i {
            color: #517ea1;
          }
        }
        i {
          top: 50%;
          left: 50%;
          font-size: 10px;
          color: #b4b5b4;
          position: absolute;
          transform: translate(-50%, -50%);
          transition: all 0.3s;
        }
      }
      .next {
        right: 5px;
      }
      .prev {
        left: 5px;
      }
    }
  }
  @media (min-width: 1280px) {
    .news-slider {
      .slick-arrow {
        top: 28%;
      }
    }
  }
  @media (min-width: 1400px) {
    padding: 16px 0 52px;
    .title {
      margin-bottom: 29px;
      h3 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 8px;
      }
      p {
        font-size: 30px;
        line-height: 34px;
      }
    }
    .news-slider {
      .news-item {
        .img {
          margin-bottom: 21px;
        }
        .text {
          padding-top: 24px;
          p {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
      .slick-arrow {
        top: 27%;
        width: 40px;
        height: 40px;
        i {
          font-size: 12px;
        }
      }
      .next {
        right: 0;
      }
      .prev {
        left: 0;
      }
    }
  }
}
