@import 'libs/slick';
@import 'libs/hot-offer.scss';

.header {
  .header-nav {
    padding: 11px 0 11px;
  }
  @media (min-width: 768px) {
    .header-nav {
      padding: 16px 15px;
    }
  }
  @media (min-width: 1024px) {
    .header-nav {
      background: #f8f8fb;
      border-bottom: 1px solid #dbdee3;
    }
  }
  @media (min-width: 1280px) {
    .header-nav {
      margin: 0 -10px;
      background: #f8f8fb;
    }
  }
  @media (min-width: 1400px) {
    .header-nav {
      margin: 0 -20px;
      padding: 22px 20px 26px;
    }
  }
}

.shares {
  padding: 7px 0 10px;
  .title {
    margin-bottom: 17px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
    }
  }
  .shares-content {
    .shares-items {
      margin-bottom: 36px;
      .shares-item {
        margin-bottom: 24px;
        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
          .text {
            .text-hover {
              transform: rotateY(0);
              transition: all 0.7s ease-in-out;
            }
            .text-hover-show {
              display: block;
            }
          }
        }
        .text {
          position: relative;
          padding: 12px 10px 0;
          h5 {
            font-size: 18px;
            color: #517ea1;
            font-weight: 500;
            line-height: 21px;
            text-align: center;
            text-align: center;
          }
          .text-hover {
            display: none;
            top: 100%;
            left: 0;
            width: 100%;
            position: absolute;
            background: #ffffff;
            padding: 32px 20px 28px 15px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            transform: rotateY(-90deg);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            transition: all 0.5s;
            z-index: 10;

            p {
              font-size: 16px;
              color: #373737;
              line-height: 21px;
              font-weight: normal;
              margin-bottom: 20px;
            }
            a {
              width: 100%;
              margin: 0 auto;
              font-size: 16px;
              color: #ffffff;
              line-height: 19px;
              padding: 14px 12px;
              text-align: center;
              background: #517ea1;
              display: inline-block;
              border: 1px solid #517ea1;
              transition: all 0.3s;
              &:hover {
                color: #517ea1;
                background: #ffffff;
              }
            }
          }
        }
      }
    }
    .shares-all {
      width: 255px;
      display: table;
      margin: 0 auto;
      font-size: 16px;
      color: #ffffff;
      line-height: 19px;
      padding: 14px 12px;
      text-align: center;
      background: #517ea1;
      border: 1px solid #517ea1;
      transition: all 0.3s;
      &:hover {
        color: #517ea1;
        background: #ffffff;
      }
    }
  }
  @media (min-width: 768px) {
    padding: 10px 0 12px;
    .shares-content {
      .shares-items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1% 40px;
        justify-content: center;
        .shares-item {
          width: 48%;
          margin: 0 1% 20px;
          .text {
            padding: 12px 28px 0;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 10px 0 24px;
    .title {
      margin-bottom: 24px;
      h3 {
        font-size: 30px;
        line-height: 34px;
      }
    }
    .shares-content {
      .shares-items {
        .shares-item {
          width: 31.33%;
          margin: 0 1% 20px;
          .text {
            .text-hover {
              display: block;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1280px) {
    padding: 10px 0 32px;
    .shares-content {
      .shares-items {
        .shares-item {
          width: 23%;
        }
      }
    }
  }
  @media (min-width: 1400px) {
    padding: 10px 0 44px;
    .title {
      margin-bottom: 29px;
      h3 {
        font-size: 38px;
        line-height: 42px;
      }
    }
    .shares-content {
      .shares-items {
        margin: 0 -1% 48px;
        .shares-item {
          margin-bottom: 12px;
          .text {
            padding: 16px 28px 0;
            h5 {
              font-size: 20px;
              line-height: 24px;
            }
          }
        }
      }
      .shares-all {
        width: 218px;
      }
    }
  }
}

.question {
  z-index: 0;
  position: relative;
  padding: 9px 0 35px;
  .title {
    margin-bottom: 12px;
    text-align: center;
    h3 {
      font-size: 24px;
      color: #517ea1;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 17px;
    }
    p {
      font-size: 18px;
      color: #595959;
      text-align: left;
      line-height: 24px;
    }
  }
  form {
    .inputs {
      margin-bottom: 26px;
      input {
        width: 100%;
        height: 40px;
        font-size: 15px;
        padding: 0 15px;
        font-weight: 300;
        color: #373737;
        line-height: 18px;
        background: #fff;
        border-radius: 8px;
        margin-bottom: 25px;
        border: 1px solid #ccd7e2;
        &:last-child {
          margin-bottom: 0;
        }
      }
      input::placeholder {
        color: #90a1b8;
      }
      .error {
        border: 1px solid red;
      }
    }
    textarea {
      width: 100%;
      resize: none;
      height: 143px;
      font-size: 15px;
      padding: 10px 15px;
      font-weight: 300;
      color: #373737;
      line-height: 18px;
      background: #fff;
      border-radius: 8px;
      margin-bottom: 22px;
      border: 1px solid #ccd7e2;
    }
    textarea::placeholder {
      color: #90a1b8;
    }
    .button {
      label {
        display: block;
        font-size: 14px;
        color: #858585;
        line-height: 19px;
        position: relative;
        padding-left: 41px;
        margin-bottom: 21px;
        letter-spacing: 0.2px;
        .jcf-checkbox {
          top: 5px;
          left: 1px;
          width: 20px;
          height: 20px;
          cursor: pointer;
          position: absolute;
          border: 1px solid #afb3bd;
          transition: all 0.5s;
          &::after {
            content: '\E803';
            top: 50%;
            left: 50%;
            opacity: 0;
            font-size: 10px;
            color: #517ea1;
            position: absolute;
            font-family: 'fontello';
            transform: translate(-50%, -50%);
            transition: all 0.5s;
          }
          input {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: absolute;
            z-index: 2;
          }
        }
        .jcf-checked {
          border: 1px solid #517ea1;
          &::after {
            opacity: 1;
          }
        }
      }
      button {
        display: table;
        margin: 0 auto;
        min-width: 255px;
        font-size: 16px;
        color: #ffffff;
        line-height: 19px;
        padding: 14px 12px;
        text-align: center;
        background: #517ea1;
        border: 1px solid #517ea1;
        transition: all 0.3s;
        &:hover {
          color: #517ea1;
          background: #ffffff;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .title {
      width: 80%;
      margin: 0 auto 15px;
      h3 {
        margin-bottom: 10px;
      }
      p {
        text-align: center;
      }
    }
    form {
      width: 80%;
      margin: 0 auto;
      .button {
        button {
          min-width: 215px;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 12px 0 35px;
    .title {
      width: 610px;
      margin-bottom: 22px;
      h3 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 15px;
      }
    }
    form {
      width: 610px;
      .inputs {
        display: flex;
        justify-content: space-between;
        input {
          width: 31%;
          margin: 0;
        }
      }
      .button {
        label {
          margin-bottom: 40px;
        }
      }
    }
  }
  @media (min-width: 1280px) {
    padding: 24px 0 40px;
    form {
      .inputs {
        margin-bottom: 25px;
        input {
          width: 31.6%;
        }
      }
      textarea {
        height: 113px;
      }
      .button {
        label {
          padding-left: 40px;
          padding-right: 100px;
        }
      }
    }
  }
  @media (min-width: 1400px) {
    padding: 24px 0 59px;
    .title {
      margin-bottom: 25px;
      h3 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 20px;
      }
      p {
        padding: 0 25px;
      }
    }
  }
}
