<section class="banner">
    <div class="container">
      <div class="banner-slider">
        <div>
          <div class="banner-item">
            <div class="img" style="background: url('img/banner-img1.jpg') no-repeat 0 50%; background-size: cover;"></div>
            <div class="content">
              <div class="text">
                <h2>Страхование осаго</h2>
                <ul>
                  <li><i class="icon-interface"></i>Выбор из страховых компаний <strong> ТОП - 20</strong></li>
                  <li><i class="icon-interface"></i>Индивидуальная скидка до <strong> 50%</strong></li>
                  <li><i class="icon-interface"></i>Проверка и восстановление <strong> Кбм</strong></li>
                  <li><i class="icon-interface"></i>Расчет по <strong> 20 </strong> страховым компаниям за <strong> 30 секунд</strong></li>
                </ul>
                <a href="javasceipr:void(0)">Рассчитать стоимость</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="banner-item">
            <div class="img" style="background: url('img/banner-img2.jpg') no-repeat 0 50%; background-size: cover;"></div>
            <div class="content">
              <div class="text">
                <h2>КАСКО</h2>
                <ul>
                  <li><i class="icon-interface"></i>Выбор из страховых компаний <strong> ТОП - 20</strong></li>
                  <li><i class="icon-interface"></i>Взр всего за 150 руб</li>
                  <li><i class="icon-interface"></i>Расчет по <strong>20</strong> страховым компаниям за <strong> 30 секунд</strong></li>
                </ul>
                <a href="javasceipr:void(0)">Рассчитать стоимость</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="banner-item">
            <div class="img" style="background: url('img/banner-img3.jpg') no-repeat 0 50%; background-size: cover;"></div>
            <div class="content">
              <div class="text">
                <h2>Здоровье</h2>
                <ul>
                  <li><i class="icon-interface"></i>Скидки 5-10%</li>
                  <li><i class="icon-interface"></i>ДМС + несчастный случай для взрослых и детей</li>
                  <li><i class="icon-interface"></i>ДМС для мигрантов</li>
                  <li><i class="icon-interface"></i>Расчет по <strong>20</strong> страховым компаниям за <strong> 30 секунд</strong></li>
                </ul>
                <a href="javasceipr:void(0)">Рассчитать стоимость</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="banner-item">
            <div class="img" style="background: url('img/banner-img4.jpg') no-repeat 0 50%; background-size: cover;"></div>
            <div class="content">
              <div class="text">
                <h2>Страхование имущества</h2>
                <ul>
                  <li><i class="icon-interface"></i>Скидка от 15 %</li>
                  <li><i class="icon-interface"></i>Расчет по <strong>20</strong> страховым компаниям за <strong> 30 секунд</strong></li>
                </ul>
                <a href="javasceipr:void(0)">Рассчитать стоимость</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="banner-item">
            <div class="img" style="background: url('img/banner-img5.jpg') no-repeat 0 50%; background-size: cover;"></div>
            <div class="content">
              <div class="text">
                <h2>Зеленая карта + ВЗР</h2>
                <ul>
                  <li><i class="icon-interface"></i>Выбор из страховых компаний <strong> ТОП - 20</strong></li>
                  <li><i class="icon-interface"></i>Взр всего за 150 руб</li>
                  <li><i class="icon-interface"></i>Расчет по <strong>20</strong> страховым компаниям за <strong> 30 секунд</strong></li>
                </ul>
                <a href="javasceipr:void(0)">Рассчитать стоимость</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="banner-item">
            <div class="img" style="background: url('img/banner-img6.jpg') no-repeat 0 50%; background-size: cover;"></div>
            <div class="content">
              <div class="text">
                <h2>Станьте агентом с доходом <span>от 14 000 руб. в день</span></h2>
                <a href="javasceipr:void(0)">Присоедениться</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>