<header class="header">
    <div class="container">
        <div class="header-top">
            <div class="logo-region">
                <a href="index.html" class="logo">
                    <img src="img/logo.png" alt="">
                </a>
                <div class="region">
                    <span>Регион:</span>
                    <ul>
                        <li>Санкт-Петербург</li>
                    </ul>
                </div>
            </div>
            <div class="personal-area">
                <div class="tel"><i class="icon-tel"></i></div>
                <div class="area">
                    <span class="name">Иван Иванов</span>
                    <span class="user"><i class="icon-user"></i></span>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <nav>
                <ul>
                    <li class="active">
                        <a href="javascript:void(0)">Частным клиентам</a>
                        <ul class="dropdown">
                            <li>
                                <a href="javascript:void(0)">Автомобили</a>
                                <ul>
                                    <li><a href="javascript:void(0)">ОСАГО</a></li>
                                    <li><a href="javascript:void(0)">КАСКО</a></li>
                                    <li><a href="javascript:void(0)">Зеленая карта+ВЗР</a></li>
                                    <li><a href="javascript:void(0)">Проверка по базе РСА</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Здоровье</a>
                                <ul>
                                    <li><a href="javascript:void(0)">Несчастный случай</a></li>
                                    <li><a href="javascript:void(0)">ДМС</a></li>
                                    <li><a href="javascript:void(0)">ДМС для мигрантов</a></li>
                                    <li><a href="javascript:void(0)">ВЗР</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Имущество</a>
                                <ul>
                                    <li><a href="javascript:void(0)">Квартира</a></li>
                                    <li><a href="javascript:void(0)">Дача</a></li>
                                    <li><a href="javascript:void(0)">Гражданская ответственность</a></li>
                                    <li><a href="javascript:void(0)">Ипотека</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Путешествия</a>
                                <ul>
                                    <li><a href="javascript:void(0)">Зеленая карта</a></li>
                                    <li><a href="javascript:void(0)">ВЗР</a></li>
                                    <li><a href="javascript:void(0)">Отмена поездки</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Другие виды страхования</a>
                                <ul>
                                    <li><a href="javascript:void(0)">Страхование катеров, маломерных судов</a></li>
                                    <li><a href="javascript:void(0)">Страхование телефонов</a></li>
                                    <li><a href="javascript:void(0)">Страхование животных</a></li>
                                    <li><a href="javascript:void(0)">Другие виды страхования</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Акции</a>
                                <ul>
                                    <li><a href="javascript:void(0)">Акции</a></li>
                                    <li><a href="javascript:void(0)">Новости</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Услуги юриста</a>
                                <ul>
                                    <li><a href="javascript:void(0)">Консультации юриста по страховым спорам</a></li>
                                    <li><a href="javascript:void(0)">Консультации юриста по нестраховым спорам</a></li>
                                    <li><a href="javascript:void(0)">Составление претензий</a></li>
                                    <li><a href="javascript:void(0)">Полное или частичное сопровождение в суде</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Страховые компании</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Стать страховым агентом</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Личный кабинет</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Корпоративным клиентам</a>
                        <ul class="dropdown">
                            <li >
                                <a href="javascript:void(0)">Автомобили</a>
                                <ul>
                                    <li><a href="javascript:void(0)">ОСАГО</a></li>
                                    <li><a href="javascript:void(0)">КАСКО</a></li>
                                    <li><a href="javascript:void(0)">Зеленая карта+ВЗР</a></li>
                                    <li><a href="javascript:void(0)">Проверка по базе РСА</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Здоровье</a>
                                <ul>
                                    <li><a href="javascript:void(0)">Несчастный случай</a></li>
                                    <li><a href="javascript:void(0)">ДМС</a></li>
                                    <li><a href="javascript:void(0)">ДМС для мигрантов</a></li>
                                    <li><a href="javascript:void(0)">ВЗР</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Имущество</a>
                                <ul>
                                    <li><a href="javascript:void(0)">Офисы,здания,заводы,рестораны</a></li>
                                    <li><a href="javascript:void(0)">Гражданская ответственность</a></li>
                                    <li><a href="javascript:void(0)">Грузы</a></li>
                                    <li><a href="javascript:void(0)">СМР</a></li>
                                    <li><a href="javascript:void(0)">Другие виды</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Другие виды страхования</a>
                                <ul>
                                    <li><a href="javascript:void(0)">Другие виды</a></li>
                                    <li><a href="javascript:void(0)">Другие виды</a></li>
                                    <li><a href="javascript:void(0)">Другие виды</a></li>
                                    <li><a href="javascript:void(0)">Другие виды</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Услуги юриста</a>
                                <ul>
                                    <li><a href="javascript:void(0)">Консультации юриста по страховым спорам</a></li>
                                    <li><a href="javascript:void(0)">Консультации юриста по нестраховым спорам</a></li>
                                    <li><a href="javascript:void(0)">Составление претензий</a></li>
                                    <li><a href="javascript:void(0)">Полное или частичное сопровождение в суде</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Акции</a>
                                <ul>
                                    <li><a href="javascript:void(0)">Акции</a></li>
                                    <li><a href="javascript:void(0)">Новости</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Страховые компании</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Стать страховым агентом</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Личный кабинет</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="partners-insurance-companies.html">Партнерам</a>
                        <ul class="dropdown">
                            <li>
                                <a href="javascript:void(0)">Агентам / Брокерам</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Смежному бизнесу</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Страховым компаниям</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="news.html">Новости</a>
                        <ul class="dropdown">
                            <li>
                                <a href="javascript:void(0)">Страховые компании</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Новости Брокера (внутренняя)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Акции</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="about.html">О компании</a></li>
                </ul>
            </nav>
            <div class="region">
                <span>Регион:</span>
                <ul>
                    <li>Санкт-Петербург</li>
                </ul>
            </div>
            <ul class="tel">
                <li><a href="tel:+7 (123) 156 78 99">+7 (123) 156 78 99</a></li>
                <li><a href="tel:+7 (123) 156 78 99">+7 (123) 156 78 99</a></li>
            </ul>
            <span class="open-menu">
                <span></span>
            </span>
        </div>
    </div>
    <include src="assets/templates/popup.html"></include>
</header>