<header class="header">
    <div class="container">
        <div class="header-top">
            <div class="logo-region">
                <a href="index.html" class="logo">
                    <img src="img/logo.png" alt="">
                </a>
                <div class="region">
                    <span>Регион:</span>
                    <ul>
                        <li>Санкт-Петербург</li>
                    </ul>
                </div>
            </div>
            <div class="personal-area">
                <div class="tel"><i class="icon-tel"></i></div>
                <div class="area">
                    <span class="name">Иван Иванов</span>
                    <span class="user"><i class="icon-user"></i></span>
                </div>
            </div>
        </div>
        <div class="header-nav">
            <nav>
                <ul>
                    <li class="active"><a href="index.html">Частным клиентам</a></li>
                    <li><a href="index-corporate.html">Корпоративным клиентам</a></li>
                    <li><a href="partners-insurance-companies.html">Партнерам</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="about.html">О компании</a></li>
                </ul>
            </nav>
            <div class="region">
                <span>Регион:</span>
                <ul>
                    <li>Санкт-Петербург</li>
                </ul>
            </div>
            <ul class="tel">
                <li><a href="tel:+7 (123) 156 78 99">+7 (123) 156 78 99</a></li>
                <li><a href="tel:+7 (123) 156 78 99">+7 (123) 156 78 99</a></li>
            </ul>
            <span class="open-menu">
                <span></span>
            </span>
        </div>
    </div>
    <include src="assets/templates/popup.html"></include>
</header>