<section class="hot-offer">
    <div class="container">
      <div class="title">
        <h3>Получайте больше горячих предложени</h3>
        <p>Подпишитесь на рассылку горячих предложений и новостей</p>
      </div>
      <div class="hot-offer-content">
        <form>
          <div class="inputs">
            <!-- Если есть ошибка в написание или не заполнино поле е input должен быть класс error -->
            <input type="text" placeholder="Ваше имя"> 
            <input type="text" placeholder="Ваш e-mail">
            <input type="text" placeholder="Ваш телефон">
          </div>
          <div class="button">
            <label><input type="checkbox" checked>Я согласен с правилами использования сервиса и обработки персональных данных</label>
            <button type="button" type="button">Подписаться</button>
          </div>
        </form>
      </div>
    </div>
  </section>